* {
  background-color: aquamarine;
}
.button {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
}

.button-background-red {
  background-color: red;
}

.disabled {
  background-color: grey;
}
