body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.azul {
  height: 500px;
  width: 500px;
  background-color: blue;
}

.colorRed {
  height: 500px;
  width: 500px;
  background-color: red;
}
.ovejita {
  width: 50px;
}
