.article {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #fff;
  border: solid 1px grey;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
}

.article-title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 20vh;
}

.article-title-text {
  margin-left: 5px;
}
.article-subt {
  font-size: 15px;
}
.article-footer {
  display: flex;
}
.item-footer {
  display: flex;
  align-content: space-between;
}
.likes-count {
  align-self: right;
  width: 80px;
}

.art-profile-pic {
  height: 50%;
  border: 1px solid grey;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 5px;
}
