.container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
  min-height: 200vh;
}

.header {
  background-color: lightgray;
  max-height: 10vh;
}

.main {
  background-color: lightgreen;
  flex-grow: 2;
}

.footer {
  background-color: lightsalmon;
  max-height: 10vw;
  align-self: flex-end;
}

.item {
  width: 100%;
}
