.container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  height: 300vh;
  align-items: stretch;
}

.header {
  background-color: lightgray;
  max-height: 10vh;
  flex-grow: 2;
}

.main {
  background-color: lightgreen;
}

.footer {
  background-color: lightsalmon;
  max-height: 10vw;
}

.item {
  flex-basis: 100vw;
}
