.container {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  background: pink;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 20vh 20vh;
  height: 100vh;
}
.header {
  background-color: deeppink;
  grid-column: 1/13;
  height: 20vh;
}
.menu {
  background-color: purple;
  grid-column: 1/6;
  grid-row: span 12; //por qué no se expande arriba?
}
.content {
  background-color: orange;
  grid-column: 6/13;
  grid-row: span 12;
}
.footer {
  background-color: blue;
  grid-column: 1/13;
  height: 20vh;
}
